<!-- jquery and bootstrap js -->
<script src="{{ '/assets/lib/jquery-3.6.0.min.js' | relative_url }}"></script>
<script src="{{ '/assets/lib/bootstrap.bundle.min.js' | relative_url }}"></script>
<!-- other js -->

<div class="container">
    <hr>

    <h3>Supporters and partners</h3>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <a href="https://www.ukri.org/councils/epsrc/">
                <img src="/assets/img/logo-epsrc.png" alt="EPSRC" class="img-fluid" style="width: 100%">
            </a>
        </div>
        <div class="col-md-4">
            <a href=" https://www.ukri.org/councils/mrc/">
                <img src="/assets/img/logo-mrc.png" alt="MRC" class="img-fluid"
                    style="width: 78%; position: relative;  left: 15%">
            </a>
        </div>


        <div class="col-md-4">
            <a href="https://www.nihr.ac.uk/">
                <img src="/assets/img/logo-nihr.png" alt="NIHR" class="img-fluid" style="width: 100%">
            </a>
        </div>

    </div>

    <div class="row justify-content-center">

        <div class="col-md-4">
            <a href="https://www.plymouth.ac.uk/">
                <img src="/assets/img/logo-uop.png" alt="UoP" class="img-fluid" style="width: 100%; ">
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://www.exeter.ac.uk/">
                <img src="/assets/img/logo-exeter.png" alt="Exeter" class="img-fluid"
                    style="width: 90%;   position: relative;  left: 10%">
            </a>
        </div>



        <div class="col-md-4">
            <a href="https://www.plymouthhospitals.nhs.uk/">
                <img src="/assets/img/logo-uhpnt.png" alt="UHPNT" class="img-fluid"
                    style="width: 60%; margin-top: 15px;">
            </a>
        </div>
    </div>

    <div class="row justify-content-center">


        <div class="col-md-4">
            <a href="https://www.strokeaudit.org/">
                <img src="/assets/img/logo-ssnap.png" alt="SSNAP" class="img-fluid" style="width: 100%">
            </a>
        </div>


        <div class="col-md-4">
            <a href="https://www.plymouth.ac.uk/research/psychology/brain-research-and-imaging-centre">
                <img src="/assets/img/logo-bric.png" alt="BRIC" class="img-fluid"
                    style="width: 80%; margin-top: 10px; position: relative;  left: 15% ">
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://www.ultracardiac.co.uk/">
                <img src="/assets/img/logo-uc.png" alt="Ultracardiac" class="img-fluid" style="width: 80%">
            </a>
        </div>
    </div>

</div>