<!-- jquery and bootstrap js -->
<script src="{{ '/assets/lib/jquery-3.6.0.min.js' | relative_url }}"></script>
<script src="{{ '/assets/lib/bootstrap.bundle.min.js' | relative_url }}"></script>
<!-- other js -->

<div class="container">
    <hr> <!-- This creates a horizontal line -->

    <h3>Thank you to our supporters</h3>

    <div class="row">
        <div class="col-md-3">
            <a href="https://www.ukri.org/councils/mrc/">
                <img src="/assets/img/logo-mrc.png" alt="MRC" class="img-fluid" style="width: 300px">
            </a>
        </div>
        <div class="col-md-3">
            <a href="https://www.ukri.org/councils/epsrc/">
                <img src="/assets/img/logo-epsrc.png" alt="EPSRC" class="img-fluid" style="width: 300px">
            </a>
        </div>
        <div class="col-md-3">
            <a href="https://www.nihr.ac.uk/">
                <img src="/assets/img/logo-nihr.png" alt="NIHR" class="img-fluid" style="width: 300px">
            </a>
        </div>
        <div class="col-md-3">
            <a href="https://www.plymouthhospitals.nhs.uk/">
                <img src="/assets/img/logo-uhpnt.png" alt="UHPNT" class="img-fluid" style="width: 300px">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <a href="https://www.plymouth.ac.uk/">
                <img src="/assets/img/logo-uop.png" alt="UoP" class="img-fluid" style="width: 300px">
            </a>
        </div>
        <div class="col-md-3">
            <a href="https://www.exeter.ac.uk/">
                <img src="/assets/img/logo-exeter.png" alt="Exeter" class="img-fluid" style="width: 300px">
            </a>
        </div>
        <div class="col-md-3">
            <a href="https://www.strokeaudit.org/">
                <img src="/assets/img/logo-ssnap.png" alt="SSNAP" class="img-fluid" style="width: 300px">
            </a>
        </div>

    </div>

    <!-- Repeat the above structure for additional rows of images -->

</div>