<h1>Opt out</h1>

<p>
    To opt out please email <kbd>example@nhs.net</kbd>
    <dt>including the following information:</dt>
    <dd> - I want to opt out of this the (choose one or some of the following): stroke/Parkinson's disease/CES/Aneurysm
        Clip/all
        of them</dd>
    <dd>-Forename:</dd>
    <dd>-Surname:</dd>
    <dd>-Date of birth:</dd>
    <dd>-Address:</dd>
    <dd>-NHS number(if known):</dd>
    <dd>-Hospital Number (if known):</dd>
    <dd>-Contact email (optional):</dd>
    <dd>-Contact phone number (optional):</dd>
</p>
<dl>


</dl>