<h1>Opt out</h1>

<p>
    To opt out please email <kbd>example@nhs.net</kbd>
    <dt>indicating (choose one of the following)</dt>
    <dd> - I want to opt out of this study</dd>
    <dd> OR </dd>
    <dd> - I want to opt out of all studies</dd>

    <dt>including the following information:</dt>
    <dd>-Forename:</dd>
    <dd>-Surname:</dd>
    <dd>-Date of birth:</dd>
    <dd>-Address:</dd>
    <dd>-NHS number(if known):</dd>
    <dd>-Hospital Number (if known):</dd>
    <dd>-Contact email (optional):</dd>
    <dd>-Contact phone number (optional):</dd>
</p>
<dl>


</dl>