<h3>Opt-out</h3>
Medical data used in this project is stored and processed in compliance with the <a
    href="{% link pages/our_data.md %}">highest data protection standards</a>. All data that we
analyse is first anonymised. Information that may be used to identify the people whose data we use in this project is
<a href="{% link pages/our_data.md %}">held strictly on NHS computer systems and processed only by qualified NHS
    staff</a>. We understand however that some people
may not wish to have their data used in this way. If you would like to <a href="{% link pages/optout.md %}">opt out</a>
of involvement of this or any other of
our projects, please <a href="{% link pages/optout.md %}">click here</a>.