<table class="table table-sm">
    <tbody>
        {% if include.disease_area %}
        <tr>
            <td>Disease area(s):</td>
            <td>{{include.disease_area}}</td>
        </tr>
        {% endif %}
        {% if include.data_sources %}
        <tr>
            <td>Data sources:</td>
            <td>{{include.data_sources}}</td>
        </tr>
        {% endif %}
        {% if include.project_stage %}
        <tr>
            <td>Project stage:</td>
            <td>{{include.project_stage}}</td>
        </tr>
        {% endif %}
        {% if include.ethical_approval %}
        <tr>
            <td>Ethical approval:</td>
            <td>{{include.ethical_approval}}</td>
        </tr>
        {% endif %}
        {% if include.principal_investigator %}
        <tr>
            <td>Principal Investigator:</td>
            <td>{{include.principal_investigator}}</td>
        </tr>
        {% endif %}
        {% if include.lead_researcher %}
        <tr>
            <td>Lead Researcher:</td>
            <td>{{include.lead_researcher}}</td>
        </tr>
        {% endif %}
        {% if include.lead_researcher_imaging %}
        <tr>
            <td>Lead Researcher (imaging):</td>
            <td>{{include.lead_researcher_imaging}}</td>
        </tr>
        {% endif %}
        {% if include.lead_researcher_cardiology %}
        <tr>
            <td>Lead Researcher (cardiology):</td>
            <td>{{include.lead_researcher_cardiology}}</td>
        </tr>
        {% endif %}
        {% if include.lead_researcher_laboratory_investigations %}
        <tr>
            <td>Lead researcher (laboratory investigations):</td>
            <td>{{include.lead_researcher_laboratory_investigations}}</td>
        </tr>
        {% endif %}
        {% if include.funders %}
        <tr>
            <td>Funder(s):</td>
            <td>{{include.funders}}</td>
        </tr>
        {% endif %}
        {% if include.paper_reference %}
        <tr>
            <td>Reference:</td>
            <td><a href="{{include.paper_reference}}">{{include.paper_reference}}</a></td>
        </tr>
        {% endif %}
    </tbody>
</table>
