/* add your scss tweaks here */

.layout {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.sidebar-layout {
    width: 20%;
    text-align: right;

}

.sidebar a {
    color: black;
}

.sidebar ul {
    line-height: 3;
    display: flex;
    flex-direction: column;
}

.container-layout {
    width: 80%;
}

/*for the news section*/
.blog-row {
    border: 1px solid #ccc;
    /* Add an outline or border */
    padding: 15px;
    margin-bottom: 20px;
    /* Add space between rows */
    display: flex;
    /* Add space between rows */
}

/*remove the margins for news*/
.custom-container {
    padding: 0;
    margin: 0;
}

.top-buffer {
    margin-top: 20px;
}

.brand-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 0.8em;
    /* adjust as needed */
}

.navbar-brand img {
    height: 50px;
    /* adjust as needed */
}

.logo-text-color {
    color: #000000;
    /* replace with your color */
}

.my-color {
    color: #ffffff;
    /* replace with your color */
}

#map {
    height: 350px;
    width: 500px;
}

.search-bar {
    border: 1px solid white;
    /* Set the border to white */
    /* Add other styles as needed */
    color: white;
    border-color: white;
    /* Example border color */
}


/* CSS to make dropdown menus open on hover */
@media (min-width: 992px) {

    /* Adjusts for devices with widths 992px and up, similar to Bootstrap's navbar-expand-lg */
    .navbar .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }
}


.navbar .dropdown-menu {
    border: none;
    /* Removes the border */
    /* Optional: if there's a box-shadow you want to remove as well */
    box-shadow: none;
    margin-top: 0;
    /* Removes any margin between the dropdown button and the menu */
}

.navbar .nav-link {
    font-size: 18px;
    /* Larger text size */
    margin-right: 30px;
    /* More space between items */
    padding: 5px 15px;
    /* Optional: Adjust if you want to change the vertical space inside the items */
    font-weight: bold;
    /* Makes the text bold */
}


.navbar .nav-link:hover {
    border-bottom: 2px solid #afafaf;
    /* Makes the underline thicker and blue */
    padding-bottom: 1px;
    /* Increases distance from the text */
}



.social-media-icons a {
    margin: 0 10px;
    font-size: 30px;
    /* Pushes the icons to the bottom */
}

.social-media-icons {
    display: flex;
    /* This will enable flexbox for the container */
    align-items: center;
    /* Align items vertically in the center */
    justify-content: start;
    /* Align items to the start of the container */
    flex-direction: row;
    /* Ensures the items are laid out in a row */
}


.social-media-icons p {
    margin: 0 10px 0 0;
    font-size: 25px;
    /* Adjusts spacing around the paragraph. Remove right margin if not needed */
}

